#resultXMLField {
resize: none;
 word-wrap: break-word;
 transition: 0.05s;
 -moz-transition: 0.05s;
 -webkit-transition: 0.05s;
 -o-transition: 0.05s;
}

.textareaPadding
{
    padding-left: 20px;
    padding-right: 20px;
}